{% extends 'core/base.html' %}
{% block title %}Welcome | {% endblock %}

{% block content %}
<div class="relative flex items-center justify-center h-screen overflow-hidden">
    <div class="relative z-30 p-5 text-2xl text-white bg-black/30 backdrop-blur rounded-xl">
        Welcome to ChatApp!
    </div>
    <video autoplay loop muted class="absolute z-10 w-auto min-w-full min-h-full max-w-none">
        <source src="https://tecdn.b-cdn.net/img/video/animation-intro.mp4" type="video/mp4">
    </video>
</div>
{% endblock %}