{% extends 'core/base.html' %}
{% block title %}Add Room | {% endblock %}

{% block content %}
<div class="p-10 lg:p-16 mt-24 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Add Room</h1>
</div>

<form method="post", action=".", class="lg:w-1/4 px-4 mx-auto">
    {% csrf_token %}

    <div class="mb-5">
        <label class="text-white">Name</label>

        <input type="text", name="name", class="w-full mt-2 px-4 py-2 rounded-xl text-white bg-black/30 focus:outline-none">
    </div>
    <div class="mb-5">
        <label class="text-white">Room ID</label>

        <input type="text", name="slug", class="w-full mt-2 px-4 py-2 rounded-xl text-white bg-black/30 focus:outline-none">
    </div>
    <div class="mb-5">
        <label class="text-white">Password</label>

        <input type="password", name="psswd", class="w-full mt-2 px-4 py-2 rounded-xl text-white bg-black/30 focus:outline-none">
    </div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="mb-5 p-4 rounded-xl bg-red-500 text-white">
                    <p>{{ error|escape }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="flex place-content-center">
        <button class="px-5 py-3 rounded-xl text-white bg-sky-800 hover:bg-sky-700">Create room</button>
    </div>

</form>
{% endblock %}